{
  "uuid": "56163b3b-c563-4c03-b30a-3ae2549e98c3",
  "version": "1.0",
  "type": "scan",
  "period": 3600,
  "target": "",
  "command": "nmap -p 443 --script /home/cedric/git/nmap-scripts/ms-exchange-version-nse/ms-exchange-version.nse 127.0.0.1",
  "format": "nmap",
  "args": [],

  "jid": "probe1@localhost",
  "passwd": "securePasswordforProbe1",

  "up_agent": "correlation-engine@localhost"
}
